.about h1 {
    font-family: 'Open Sans Condensed';
    text-align: center;
    font-size: 2em;
    margin: 30px 0;
    letter-spacing: 1px;
}

.about-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;

    div {
        margin-bottom: 30px;

        h3 {
            font-size: 1.5em;
            margin-bottom: 5px;
            font-family: 'Open Sans Condensed';
        }

        p {
            font-size: 1em;
            line-height: 1.4;
        }

        a {
            font-size: 0.8em;
            color: #e00966;
            margin-top: 5px;
            letter-spacing: 0.5px;
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 1000px) {
    .about h1 {
        font-size: 3em;
        margin: 60px 0;
    }

    .about-container {
        width: 90%;
        display: flex;
        justify-content: space-evenly;

        div {
            width: 28%;
            font-family: 'Open Sans Condensed';

            h3 {
                font-size: 2em;
                margin-bottom: 20px;
            }

            p {
                font-size: 1.1em;
            }

            a {
                font-size: 1em;
            }
        }
    }
}