.portfolio-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 50px;

    .port-img {
        width: 70%;
        margin-bottom: 30px;
    }

    a {
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {
    .portfolio-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .port-img {
            width: 100%;
        }

        a {
            width: 30%;
        }
    }
}